@import "compass/css3";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.clr{clear:both;}
body {background-color:#ddd;}

#mainNav {
  background-color:#30336b;
  font-size:0;
  text-align:center;
  width:100%;
}

#mainNav ul {font-size:12px; }
#mainNav i {font-size:3em;}
#mainNav li {display:inline-block; height:inherit;}

#mainNav a {
  color:#fff;
  font-family: Century Gothic;
  font-size: 1.5em;
  display:block;
  height:inherit;
  margin:0;
  padding:1.75em 1em;
  text-decoration:none;
}

#mainNav a:hover {
  background-color:#70a1ff; transition: background .25s ease;
 
}

#mainNav li .sub-menu {
  background-color:#70a1ff;
  position:absolute;
  left:-9999px;
  opacity:0;
  transition: opacity .75s;
  width:100%;
  z-index:10;
}

#mainNav li:hover .sub-menu {
  left:0px;
  opacity:1;
}

#mainNav .sub-menu i {font-size:1em;}

#mainNav .sub-menu a {
  height:3em; line-height:3em;
  padding:0 2em;
  height:inherit;
  width:100%;
}

#mainNav .sub-menu a:hover {background-color:#30336b;}
