/*.wrapper{
    margin-top: 45px;
}
.form-signin{
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}
.input-group{
    height: 45px;
    margin-bottom: 15px;
    border-radius: 0px;
    color: #60B99A;
}
.form-control{
    height: 45px;
    color: #60B99A;
}
.input-group:hover span i{
    color: #60B99A;
}
.btn-block{
    border-radius: 0px;
    margin-top: 25px;
    background-color: #60B99A;
    border: none;
}
.btn-block:hover{
    background-color: #D3CE3D;
}
.bol{
    position: relative;
    margin-top: -40px;
    color: #60B99A;
}*/

body{
  background-color: #ECEFF1;
  color: #fff;
}

.input-group-addon{
  background-color: #ECEFF1;
  border: 2px solid #fff;
  color: #263238;
}

.form-control{
  background-color: #ECEFF1;
  border: 2px solid #fff;
  color: #263238;
}

.btn-primary{
  background-color: #2196F3;
  border-color: #2196F3;
}

.login{
  margin: auto;
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
  transform: translateY(50%);
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.login-title{
  background-color: #263238;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px 0;
}

.login-content{
  padding-top: 20px;
  padding-bottom: 25px;
}

.login-footer{
  padding-bottom: 25px;
}
